frontend/.DS_Store
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/test/unit/coverage/
frontend/test/e2e/reports/
frontend/selenium-debug.log

backend/secret/*
!backend/secret/.gitkeep

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
.python-version
__pycache__

dev.env
secret.yaml